/* HELPERS */
.text-size-h4 {
    font-size: 2.28rem;
}

.text-size-h2 {
    font-size: 3.56rem;
}

.text-capitalize {
    text-transform: capitalize; 
}

.icon-down {
    transform: rotate(90deg);
}

.icon-up {
    transform: rotate(-90deg);
}

/* MODALS */
.modal .modal-footer {
  height: auto;
}

/* FORM */
.invalid {
    border-bottom: 1px solid #F44336 !important;
}

.js-table-members td{
    cursor: pointer;
}

.hoverable:hover {
    overflow: hidden;
}

.material-icons {
  vertical-align: middle;
}

/* WIDGET STATUS */
.widget-item__insert-member,
.widget-item__edit-member {
    display: none;    
}

/* Estate elements : showed*/
.wrapper__edit-member .widget-item__edit-member,
.wrapper__insert-member .widget-item__insert-member {
    display: block;
}

/* Estate elements : hidden*/
.wrapper__edit-member .widget-item__insert-member,
.wrapper__insert-member .widget-item__edit-member {
    display: none;
}

/* Issue Materialize : https://github.com/Dogfalo/materialize/issues/1390 */
select.js-control-form.invalid ~ .select-dropdown {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

select.js-control-form.valid ~ .select-dropdown {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}